*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: helvetica;
}
body{
    background-color: rgb(230,230,230);
}

header, footer{
    height:80px;
    background-color: orange;
    padding:15px;
    margin:15px;
}

label{
    display:inline-block;
    width:150px;
    font-weight: bold;
}

input, select, textarea{
    height:25px;
    width:300px;
    max-width: 100%;
    padding:2px;
}
textarea{
    height:50px;
    resize:vertical;
}
ul{
    list-style-type: none;
}

input:focus{
    box-shadow:none;
    outline:none;
    border:2px solid black;
    border-radius:5px;
}


a{
    text-decoration: none;
    color:dodgerblue;
    font-weight: bold;
}

dt{
    font-weight:bold;
}
.button {
    font-size:15px;
    display:block;
    height:30px;
    border:2px solid dodgerblue;
    border-radius:5px;
    background-color:white;
    text-decoration: none;
    color:dodgerblue;
    padding:5px;
    font-weight: bold;
    cursor:pointer;
    margin-left: 5px;
}

.button:hover{
    background-color: orange;
}
.show-room{
    margin:15px;
    background-color: orange;
}

.field-container{
    margin-bottom:5px;
}

#wrapper{
    min-height: 100vh;
  
}


/*****************
*****admin/index**
******************/
    
.tile{
    border:2px solid black;
    border-radius:5px;
    height:250px;
    margin:15px;
    background-image: url(../img/wolkjes.jpg);
    transition: .3s ease;
}
.tile:hover{
    border:2px solid dodgerblue;
}
img{
   
    width:300px;
    border:2px solid orange;
    border-radius:5px;

}
/*****************
****person/index*
*****************/
.command-bar{
    height:80px;
    background-color: rgb(230,230,230);
    margin:15px;
    padding:10px;
    background-image: url(../img/wolkjes.jpg);
    display:flex !important;
}

.detail{
    margin:15px;
    background-color: rgb(230,230,230);
    padding:10px; 
    background-image: url(../img/wolkjes.jpg);
   
}

.feedback{
   margin:15px;
   padding:15px;
   background-color: rgb(230,230,230);
   min-height:80px;
   background-image: url(../img/wolkjes.jpg);
}
.list{
   padding:15px;
   margin:15px;
   background-color: rgb(230,230,230);
   min-height: 70%;
   background-image: url(../img/wolkjes.jpg);
}

/**************
*****flex-box**
**************/
.flex-container{
    display:flex;
}

.flex-item-1{
  flex:1;
}
.flex-item-2{
    flex:2;
}
.flex-item-3{
 flex:3;
}
.flex-item-4{
 flex:4;
}
.align-content-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.align-content-left{
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.align-content-right{
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

@media (max-width:1024px){
    .flex-container{
       display:block;
       padding:5px;
    }
    label{
        width:100%;
    }
    input{
        width:100%;
    }
    
   .command-bar{
       margin-top: 20px !important;
   }
    
    
    h2{
        display:none;
    }
   
   
    
}